.container {
    min-height: 100vh;
}

.container-fluid .homepage-text {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 70px 20px;
    margin: 20vh 20%;
}

.container-fluid .homepage-background{
    background-image: url("/images/market.jpg");
    color: white;
    background-size: cover;
    height:80vh;
    margin: 0;
}

.product-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.product-image img {
    width: 100%;
}

.footer {
    width: 100%;
    padding: 1em;
    margin: 0;
    text-align: center;
    background-color: #343a40;
    color: rgba(255, 255, 255, 0.5);
}